/dist
.python-version
/test/.ceresdb/data/db1/foo/*
!/test/.ceresdb/data/db1/foo/bad.bak
!/test/.ceresdb/data/db1/foo/bar.bak
!/test/.ceresdb/data/db1/foo/baz.bak
/test/.ceresdb/data/db1/foo1/*
!/test/.ceresdb/data/db1/foo1/bar.bak
!/test/.ceresdb/data/db1/foo1/baz.bak
/docs/build
__pycache__
.pytest_cache
timing_*_*.json
container.log
get.png
post.png
